@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ANASAYFAMIZA HOŞGELDİNİZ</h1>
    <img src="~/emlak1.webp" alt="" width="700" height="420">
</div>
